.footer{
    background-color: black;
     margin-top: 190px;
     padding: 100px;
     width:100%;
}
.footer-content{
    display: flex;
    flex-direction: row;        
    color:white;
    /* align-items: center; */
    justify-content:space-around;
    justify-items: center;
    gap:20px;
    
}
.footer-content .right h1{
    font-size: 2.3cm;
}

.footer-content .left span{
    font-weight: bolder;
    font-size: larger;
}
.footer-content svg{
    color: blue;
    width:70px;
}

@media(max-width:700px)
{
    .footer-content{
    display: flex;
    flex-wrap: wrap;
    }
    .footer{
    background-color: black;
     margin-top: 190px;
     padding: 10px;
     width:100%;

}
.footer-content .right h1{
    font-size: 1.2cm;
}


}